{% extends 'base.html' %}

{% block title %} Certificate Mailer {% endblock %}

{% block content %}
	
	<h1 class="mb-4">Configuración</h1>

	<div id="accordion">
		<!-- Sección 1 -->
		<div class="card">
			<div class="card-header" id="headingOne">
				<h5 class="mb-0">
					<button class="btn" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
						Servidor de correio eletrônico
					</button>
				</h5>
			</div>

			<div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
				<div class="card-body">
					<select class="form-select" aria-label="Default select example" id="serverSelect" onchange="setEmailServerData()">
						<option selected value=""></option>
						{% for server in servers %}
							<option value="{{ server['data'] }}">{{ server['server_name'] }}</option>
						{% endfor %}
					</select>

					<button type="button" class="btn btn-danger mt-2" id="deleteEmailServerBtn">
						<i class="bi bi-trash"></i> Eliminar
					</button>

					<form>
						<!-- Aquí van tus campos del formulario para Configuración 1 -->
						<label for="server_name">Nome do servidor:</label>
						<input type="text" id="server_name" name="server_name" class="form-control">

						<label for="server_port">Porta SMTP do servidor:</label>
						<input type="text" id="server_port" name="server_port" class="form-control">

						<div class="form-check col-7">
				            <input class="form-check-input" type="checkbox" value="" id="useTLSCheck">
				            <label class="form-check-label" for="useTLSCheck">
				               Use TLS
				            </label>
         				</div>
						<button type="button" class="btn btn-primary mt-3" id="saveEmailServerBtn">Guardar</button>
					</form>
				</div>

			</div>
		</div>
		<!-- fin Sección 1 -->

		<!-- Sección 2 -->
		<div class="card">
			<div class="card-header" id="headingTwo">
				<h5 class="mb-0">
					<button class="btn" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
						Contas de e-mail
					</button>
				</h5>
			</div>

			<div id="collapseTwo" class="collapse show" aria-labelledby="headingTwo" data-parent="#accordion">
				<div class="card-body">
					<select class="form-select" aria-label="Default select example" id="emailAccountSelect" onchange="setEmailAccountData()">
						<option selected value=""></option>
						{% for ea in emailAccounts %}
							<option value="{{ ea['data'] }}">{{ ea['email'] }}</option>
						{% endfor %}
					</select>

					<button type="button" class="btn btn-danger mt-2" id="deleteEmailAccountBtn">
						<i class="bi bi-trash"></i> Eliminar
					</button>

					<form>
						<!-- Aquí van tus campos del formulario para Configuración 1 -->
						<label for="email_account">Endereço de e-mail:</label>
						<div class="input-group mb-3">
						  
						  <input type="text" id="email_account" name="email_account" class="form-control">
						  <span class="input-group-text">@</span>
						  <select class="form-select" aria-label="Default select example" id="emailServerSelect">
								{% for server in servers %}
									<option value="{{ server['server_name'] }}">{{ server['server_name'] }}</option>
								{% endfor %}
							</select>
						</div>

						<label for="emailPassword">Senha:</label>
						<input type="text" id="emailPassword" name="emailPassword" class="form-control">

						<label for="emailAlias">Pseudônimo:</label>
						<input type="text" id="emailAlias" name="emailAlias" class="form-control">

						<button type="button" class="btn btn-primary mt-3" id="saveEmailAccountBtn">Guardar</button>
					</form>

				</div>

			</div>
		</div>
		<!-- fin Sección 2 -->

		<!-- Sección 3 -->
		<div class="card">
			<div class="card-header" id="headingThree">
				<h5 class="mb-0">
					<button class="btn" data-toggle="collapse" data-target="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
						Geral
					</button>
				</h5>
			</div>

			<div id="collapseThree" class="collapse show" aria-labelledby="headingThree" data-parent="#accordion">
				<div class="card-body">
					<select class="form-select" aria-label="Default select example" id="emailAccountSelect" onchange="">
						{% for lang in languages['langs'] %}
							{% if languages['current'] == lang['symbol']%}
								<option value="{{ lang['symbol'] }}" selected>{{ lang['name'] }}</option>
							{% else %}
								<option value="{{ lang['symbol'] }}">{{ lang['name'] }}</option>
							{% endif %}
						{% endfor %}
					</select>

					<!--<select class="form-select" aria-label="Default select example" id="generatorSelec" onchange="setGenerator()">
						{% for gen in generator['generators'] %}
							{% if generator['current'] == gen['value']%}
								<option value="{{ geb['value'] }}" selected>{{ gen['name'] }}</option>
							{% else %}
								<option value="{{ lang['value'] }}">{{ gen['name'] }}</option>
							{% endif %}
						{% endfor %}
						
					</select>-->

				</div>

			</div>
		</div>
		<!-- fin Sección 3 -->
	</div>
	<label id="responseLbl" style="text-align: center;"></label>
	
	{% block custom_js %}
		

		<script type="text/javascript">
			$(document).ready(function() {
				$("#saveEmailServerBtn").on("click",saveEmailServer);
				$("#deleteEmailServerBtn").on("click",delEmailServer);

				$("#saveEmailAccountBtn").on("click",saveEmailAccount);
				$("#deleteEmailAccountBtn").on("click",delEmailAccount);

				$("#deleteEmailServerBtn").hide();
				$("#deleteEmailAccountBtn").hide();

			});

			function setEmailServerData() {
				// Obtener el elemento select y los campos del formulario
				let select = document.getElementById('serverSelect');
				let serverNameInput = document.getElementById('server_name');
				let serverPortInput = document.getElementById('server_port');
				let useTLSInput = document.getElementById('useTLSCheck');

				// Obtener el valor seleccionado en el select
				let selectedValue = select.value;

				// Separar el valor por el caracter ":"
				let valores = selectedValue.split(':');

				// Asignar los valores a los campos del formulario
				serverNameInput.value = valores[0] || '';
				serverPortInput.value = valores[1] || '';
				useTLSInput.checked = parseInt(valores[2]);

				if (selectedValue == "")
					$("#deleteEmailServerBtn").hide();
				else
					$("#deleteEmailServerBtn").show();
			}

			function setEmailAccountData(){
				// Obtener el elemento select y los campos del formulario
				let select = document.getElementById('emailAccountSelect');
				let emailAccountInput = document.getElementById('email_account');
				let passwordAccountInput = document.getElementById('emailPassword');
				let emailAliasInput = document.getElementById('emailAlias');
				let emailServerSelect = document.getElementById('emailServerSelect');

				// Obtener el valor seleccionado en el select
				let selectedValue = select.value;
				// Separar el valor por el caracter ":"
				let valores = selectedValue.split(':');

				// Asignar los valores a los campos del formulario
				emailAccountInput.value = valores[0] || '';
				passwordAccountInput.value = valores[2] || '';
				emailAliasInput.value = valores[3] || '';

				for (var i = 0; i < emailServerSelect.options.length; i++) {
				   if (emailServerSelect.options[i].value == valores[1]) {
				      emailServerSelect.options[i].selected = true;
				      break;
				   }
				}


				if (selectedValue == "")
					$("#deleteEmailAccountBtn").hide();
				else
					$("#deleteEmailAccountBtn").show();
			}

			function setGenerator(){
				// Obtener el elemento select y los campos del formulario
				let select = document.getElementById('generatorSelec');

				// Obtener el valor seleccionado en el select
				let selectedValue = select.value;

				for (var i = 0; i < emailServerSelect.options.length; i++) {
				   if (emailServerSelect.options[i].value == valores[1]) {
				      emailServerSelect.options[i].selected = true;
				      break;
				   }
				}


				if (selectedValue == "")
					$("#deleteEmailAccountBtn").hide();
				else
					$("#deleteEmailAccountBtn").show();
			}

			function saveEmailServer(){
				let serverNameInput = document.getElementById('server_name');
				let serverPortInput = document.getElementById('server_port');
				let useTLS = document.getElementById('useTLSCheck').checked ? 1:0;

				if (serverNameInput.value != "" && serverPortInput.value != ""){
					let data = {
						type: "EmailServer",
						server: serverNameInput.value,
						port: serverPortInput.value,
						use_tls: useTLS
					};

					sendData(data);
				}
			}

			function saveEmailAccount(){
				let emailAccountInput = document.getElementById('email_account');
				let passwordAccountInput = document.getElementById('emailPassword');
				let emailAliasInput = document.getElementById('emailAlias');
				let emailServerSelect = document.getElementById('emailServerSelect');


				if (emailAccountInput.value != "" && passwordAccountInput.value != ""){
					let data = {
						type: "EmailAccount",
						email: emailAccountInput.value+"@"+emailServerSelect.value,
						server: emailServerSelect.value,
						name: emailAliasInput.value,
						password: passwordAccountInput.value
					};

					sendData(data);
				}
			}

			function delEmailServer(){
				let serverNameInput = document.getElementById('server_name');
				let serverPortInput = document.getElementById('server_port');


				if (serverNameInput.value != ""){
					let data = {
						type: "EmailServer",
						server: serverNameInput.value
					};

					sendData(data, "DELETE");
				}
			}

			function delEmailAccount(){
				let emailAccountInput = document.getElementById('email_account');
				let emailServerSelect = document.getElementById('emailServerSelect');


				if (emailAccountInput.value != ""){
					let data = {
						type: "EmailAccount",
						email: emailAccountInput.value+"@"+emailServerSelect.value
					};

					sendData(data, "DELETE");
				}
			}


			function sendData(data, method="POST") {
				$.ajax({
					url:"{{ url_for('settings')}}",
					type:method,
					data: data,
					success: function(response){
						alert(response.msg);
						location.reload();
						//$("#responseLbl").text( response.response);

					},
					error: function(error){
						console.log(error);
					},
				});
			}

				
			

		</script>
	{% endblock %}
{% endblock %}